html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  background: linear-gradient(
    102.2deg,
    rgb(109, 118, 150) 7.1%,
    rgb(89, 72, 79) 14.7%,
    rgb(69, 92, 79) 28%,
    rgb(204, 85, 67) 43.4%,
    rgb(237, 181, 121) 60.2%,
    rgb(219, 230, 175) 76.8%
  );
  height: 100vh;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-attachment: fixed;
  font-family: "Titillium Web", sans-serif;
}
.App-header {
  text-align: center;
  color: white;
  font-style: bold;
  font-size: 60px;
  margin-bottom: 20px;
}
footer {
  margin-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.gitHubLink {
  text-decoration: none;
  color: white;
}
.gitHubLink:hover {
  color: lightgray;
}

.portfolioLink {
  text-decoration: none;
  color: white;
}
.portfolioLink:hover {
  color: lightgray;
}
