section {
  background-color: white;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 600px;
  padding: 20px;
}
.searchForm {
  width: 360px;
  display: block;
  margin: 0 auto;
}
.wordSearchForm {
  text-align: center;
  font-size: 24px;
  border: none;
}
.inputForm {
  border-radius: 8px;
}
.Photos img {
  border-radius: 8px;
  margin-bottom: 14px;
}
.Photos {
  padding-bottom: 10px;
}
.Results {
  margin-top: 10px;
}
.searchedWord {
  text-align: center;
  font-size: 38px;
}
.Phonetic {
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}
.listenIcon {
  padding-right: 6px;
}
.Origin {
  font-size: 18px;
}
.partOfSpeech {
  font-size: 26px;
}
.definition {
  font-size: 18px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.example {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Synonyms {
  padding: 0;
}
.Synonyms li {
  display: inline-block;
  padding-right: 15px;
  font-size: 16px;
}
